build/
lib/
bin/
dist/
archived/
dump
.idea/
*.kdev4
*.pyc
*.png
*.i
*.ckpt
*.h5
*.ply
*.tar.gz
*.npz
*.npy
feh_render/feh_render.py
feh_render/simplerender.py
feh_render/simplerender_wrap.c
*.egg-info
thirdparty/Sophus/include
thirdparty/tinyobjloader/include
thirdparty/tinyobjloader/lib
thirdparty/tinyobjloader/share
thirdparty/googletest/include
thirdparty/matplotlib-cpp/examples
!resources/leather_chair.png

